<footer class="page-footer blue-grey darken-4 foot">
  <div class="container">
    <div class="row footIcons">
      <div class="col s1"></div>
      <div class="col s2">
        <i class="medium material-icons">search</i>
      </div>
      <div class="col s2">
        <i class="medium material-icons">insert_chart</i>
      </div>
      <div class="col s2">
        <i class="medium material-icons">trending_up</i>
      </div>
      <div class="col s2">
        <i class="medium material-icons">info</i>
      </div>
      <div class="col s2">
        <i class="medium material-icons">email</i>
      </div>

      <div class="col s1"></div>
    </div>
    <div class="row">
      <div class="col s12">
        <h6 class="footer-copyright privacy">Privacy Policy</h6>
        <p class="footer-copyright privacy">By accessing or using the StockBT Web site, you agree to the terms of this Online Privacy Policy, as outlined below. If you do not agree to these terms, please do not access or use this site.</p>
        <h6 class="footer-copyright privacy">Collection of Personal Information</h6>
        <p class="footer-copyright privacy">When you engage in certain activities on this site, you may be asked to provide certain information about yourself by filling out and submitting an online form. It is completely optional for you to engage in these activities. If you elect to engage in these activities, however, you may be required to provide personal information, such as your name, mailing address, e-mail address, and other personal identifying information.</p>

        <p class="footer-copyright privacy">When you submit personal information, you understand and agree that StockBT may transfer, store, and process your information in any of the countries in which StockBT maintain offices, including without limitation, the United States.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright foot">
    <div class="container">
    © Copyright 2017 Kevin Li. All rights reserved.
    </div>
  </div>
</footer>
