<h1>Hello World</h1>
<input id="quote" type="text"/>
<input id="search" type="submit" value="Search"/>
<p>
  <label>Timeframe</label>
  <select id="timeframe" class="dropdown">
      <option>1-month</option>
      <option>3-months</option>
      <option selected="selected">6-months</option>
      <option>1-year</option>
      <option>2-years</option>
      <option>5-years</option>
  </select>

  <label>Interval</label>
  <select id="interval" class="dropdown">
      <option selected="selected">Daily</option>
      <option>Weekly</option>
      <option>Monthly</option>
  </select>
<p>
